<div class="header">
	<div id="left_header">
		<img src="./logo/infore.png" alt="" id="logo" usemap="#mapL">
		<map name="mapL">
			<area shape="default"alt="infore" href="http://infore.vn/" target="_blank">
		</map>
	</div>
	<div id="right_header">
		<img src="./logo/dhtl.png" alt="" id="logo"usemap="#mapR">
		<map name="mapR">
			<area shape="default"alt="infore" href="http://www.tlu.edu.vn/"target="_blank">
		</map>
	</div>
</div>