<div id="menu">
	<ul>
		<li><a href="/">&#127987; HOME</a></li>
		<li>
			<a href="/list">&#128366; LIST</a>
			<!-- <ul class="sub-menu">
				<li><a href="/">SỬA</a></li>
				<li><a href="#">XÓA</a></li>
				</ul> -->
		</li>
		<li><a href="/add">&#128396;ADD</a>
		</li>
	</ul>
</div>
<div id="topct">
	<%= title %>
</div>
<br>