<!DOCTYPE html>
<html lang="en">
	<%- include('./elements/head'); -%>
	<body>
		<%- include('./elements/header'); -%>
		<%- include('./elements/title'); -%>
		<div id="content">
			<div class="homepage">
				<p> <iframe  width="100%" height="480px" src="https://www.youtube.com/embed/21wJk0UQ_7M?start=72" frameborder="0" 
					allow="" allowfullscreen></iframe></p>
			</div>
		</div>
		<%- include('./elements/footer'); -%>
	</body>
</html>